<style>
  .message-content { font-family: Arial, Helvetica, sans-serif; max-width: 600px; font-size: 18px; line-height: 21px; }
</style>

<div class="message-content">
  <p>Hello, {{name}}</p>

  <p>We saw your interest in adopting the {{petName}}</p>

  <p>To continue, check your email at the link below:</p>

  <p>
    <a href="{{link}}">Access my account</a>
  </p>

  <small>This link is valid for {{expiresInMinutes}} minutes</small>

  <p>If it wasn't you, then discard this email!</p>

  <p>
    Thank you!<br />
    <strong>Find A Friend Team</strong>
  </p>
</div>